<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">
    <img src="/images/gantt.png" width="30" height="30" class="d-inline-block align-top"> NAA
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-project-diagram"></i> Project
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/projects/projectsDirectory"><i class="fas fa-folder"></i> Projects</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/projects/newProject"><i class="fas fa-plus-square"></i> New</a>
          <a class="dropdown-item" href="/projects/editProject"><i class="fas fa-edit"></i> Edit</a>
          <a class="dropdown-item" href="/projects/deleteProject"><i class="fas fa-trash-alt"></i> Delete</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-chart-line"></i> Analysis
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header">Analysis</h6>
          <a class="dropdown-item" data-toggle="modal" data-target="#calculationModal" style="cursor: pointer;"><i class="fas fa-chart-line"></i> Calculate</a>
          <a class="dropdown-item" href="/calculations/monteCarlo"><i class="fas fa-chart-bar"></i> Monte Carlo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/calculations/results"><i class="fas fa-poll-h"></i> Results</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cogs"></i> Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/help"><i class="far fa-question-circle"></i> Help</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/about"><i class="far fa-question-circle"></i> About App</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user-circle"></i> {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/myProfile"><i class="far fa-user-circle"></i> My Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>