{{> navbar_index}}


<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 28rem;">
        <div class="text-center pt-2">
            <h2>About Application</h2>
        </div>
        <hr class="solid">
        <div class="card-body">
            NAA is an abbreviation of Network Analysis Application. This application provides an environment for Network
            Analylis.
            It was created in 2021/2022 as Master Thesis by student Karel Drnec from Technical University of Liberec.
        </div>
    </div>
</div>