{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div class="container-fluid bg pt-5">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!--form start-->
            <form class="form-container" action="/states/addState/{{fromStateID}}" method="POST">
                <h2 class="text-center">New State</h2>
                <div class="form-group">
                    <label for="stateName">State Name</label>
                    <input type="text" class="form-control" id="stateNameInput" name="stateNameInput"
                        aria-describedby="stateNameHelp" placeholder="State Name" required>
                </div>
                <div class="form-group">
                    <label for="stateInfo">Information</label>
                    <textarea name="stateInfo" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <label for="addActivityCheck">Add Activity</label>
                        <input type="checkbox" name="addActivityCheck">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-primary">Back</button>
                </div>
            </form>
            <!--form end-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>