{{> navbar}}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="/files/test.pdf"></iframe>
</div>

<!-- pridat manual v pdf -->
<script>
    // mozna dodelat pro mobily + pridat realny manual
</script>