{{> navbar}}

<h1>PDF EXAMPLE</h1>
<p>OPEN A PDF FILE <a href="/files/test.pdf" target="_blank">example</a></p>

<!-- pridat manual v pdf -->
<script>
    // <iframe class="embed-responsive-item" src="/files/test.pdf"></iframe>
    // mozna dodelat pro mobily + pridat realny manual
</script>